/* 
    Created on : Jan 20, 2015, 4:00:45 PM
    Author     : Daniel
*/

body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	background-color: #CCCCCC;
	margin: 10px;
	padding: 0;
}

#mainContent{
    text-align: center;
}

#formAndTech{
    padding: 20px 20px 20px;
    border: 2px solid #333333;
}

#summary{
    padding: 10px 10px 10px;
    border: 2px solid #333333;
    background-color: #B8B8B8;
}

#tech{
    float:right;
    display:inline;   
    text-align: center;
    padding-right: 100px
}


table, th, td{
    
    border: 2px solid #333333;
    border-collapse: collapse;
    background-color: #B8B8B8;
}

.exp tr:second-child td:nth-child(1){
    color: #ff0000;
}

th{
    padding: 5px;
    
}

td{
    padding: 8px;
    
   
}
h2 {
    text-align: center;
}

.footer { 
	background-color: #B8B8B8;
	color: #000000; 
	text-align: center; 
	font-size: .60em; 
	font-style: italic; 
	padding: 20px 20px 20px;
	border: 2px solid #333333;
}